
/** COLORS **/
$colorBackground: #000000;
$colorBackgroundFooter: #fff34f;
$colorTextWhite: #ffffff;
$colorTextYellow: #fff34f;
$colorTextBlack: #000000;

/** FONTS **/
@mixin fontSansWhite($fontSize, $lineHeight) {
    font-family: Fira Sans, Sans;
    font-size: $fontSize;
    color: $colorTextWhite;
    line-height: $lineHeight;
}
@mixin fontSansYellow($fontSize, $lineHeight) {
    font-family: Fira Sans, Sans;
    font-size: $fontSize;
    color: $colorTextYellow;
    line-height: $lineHeight;
}
@mixin fontMonoBlack($fontSize, $lineHeight) {
    font-family: Fira Mono, Mono;
    font-size: $fontSize;
    color: $colorTextBlack;
    line-height: $lineHeight;
}
@mixin fontMonoWhite($fontSize, $lineHeight) {
    font-family: Fira Mono, Mono;
    font-size: $fontSize;
    color: $colorTextWhite;
    line-height: $lineHeight;
}
@mixin fontMonoYellow($fontSize, $lineHeight) {
    font-family: Fira Mono, Mono;
    font-size: $fontSize;
    color: $colorTextYellow;
    line-height: $lineHeight;
}

/** BASIC ELEMENTS **/

* {
    -webkit-text-size-adjust: none;
}

html {
    background-color: $colorBackground;

}

body {
    width: 100%;
}

.content {
    width: 100%;
    max-width: 1000px;
    margin: 0px auto;
}