
/** COLORS **/
$colorBackground: #000000;
$colorBackgroundFooter: #fff34f;
$colorTextWhite: #ffffff;
$colorTextYellow: #fff34f;
$colorTextBlack: #000000;

/** FONTS **/
@mixin fontSansWhite($fontSize, $lineHeight) {
    font-family: Fira Sans, Sans;
    font-size: $fontSize;
    color: $colorTextWhite;
    line-height: $lineHeight;
}
@mixin fontSansYellow($fontSize, $lineHeight) {
    font-family: Fira Sans, Sans;
    font-size: $fontSize;
    color: $colorTextYellow;
    line-height: $lineHeight;
}
@mixin fontMonoBlack($fontSize, $lineHeight) {
    font-family: Fira Mono, Mono;
    font-size: $fontSize;
    color: $colorTextBlack;
    line-height: $lineHeight;
}
@mixin fontMonoWhite($fontSize, $lineHeight) {
    font-family: Fira Mono, Mono;
    font-size: $fontSize;
    color: $colorTextWhite;
    line-height: $lineHeight;
}
@mixin fontMonoYellow($fontSize, $lineHeight) {
    font-family: Fira Mono, Mono;
    font-size: $fontSize;
    color: $colorTextYellow;
    line-height: $lineHeight;
}

/** BASIC ELEMENTS **/

html {
    background-color: $colorBackground;
    // overflow: hidden;
}

body {
    padding-top: 10px;
}