
/** COLORS **/
$colorBackground: #000000;
$colorBackgroundFooter: #fff34f;
$colorTextMain: #ffffff;
$colorTextSecondary: #fff34f;
$colorTextFooter: #000000;

/** BASIC ELEMENTS **/

html {
    background-color: $colorBackground;
    // overflow: hidden;
}

body {

}