/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/** COLORS **/
/** FONTS **/
/** BASIC ELEMENTS **/
/* line 43, ../sass/index.scss */
* {
  -webkit-text-size-adjust: none;
}

/* line 47, ../sass/index.scss */
html {
  background-color: #000000;
}

/* line 52, ../sass/index.scss */
body {
  width: 100%;
}

/* line 56, ../sass/index.scss */
.content {
  width: 100%;
  max-width: 1000px;
  margin: 0px auto;
}

/* line 1, ../sass/header.scss */
header {
  position: fixed;
  top: 0px;
  width: 100%;
  max-width: 1000px;
}
/* line 7, ../sass/header.scss */
header .logo {
  width: 114px;
  height: 124px;
  margin-top: 10px;
  margin-left: 10px;
  background-image: url("../images/logo.png");
  background-repeat: no-repeat;
  background-size: 100%;
  -moz-transition: width 0.3s ease-out, height 0.3s ease-out;
  -o-transition: width 0.3s ease-out, height 0.3s ease-out;
  -webkit-transition: width 0.3s ease-out, height 0.3s ease-out;
  transition: width 0.3s ease-out, height 0.3s ease-out;
}
@media (min-width: 615px) {
  /* line 7, ../sass/header.scss */
  header .logo {
    margin-left: 20px;
  }
}
@media (min-width: 800px) {
  /* line 7, ../sass/header.scss */
  header .logo {
    margin-left: 30px;
  }
}
/* line 23, ../sass/header.scss */
header .logo.small {
  width: 57px;
  height: 62px;
}
/* line 29, ../sass/header.scss */
header .button-info {
  position: absolute;
  top: 10px;
  right: 55px;
  width: 23px;
  height: 23px;
  background-image: url("../images/icon_info.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (min-width: 615px) {
  /* line 29, ../sass/header.scss */
  header .button-info {
    right: 65px;
  }
}
@media (min-width: 800px) {
  /* line 29, ../sass/header.scss */
  header .button-info {
    right: 75px;
  }
}
/* line 47, ../sass/header.scss */
header .button-mail {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 35px;
  height: 23px;
  background-image: url("../images/icon_mail.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
@media (min-width: 615px) {
  /* line 47, ../sass/header.scss */
  header .button-mail {
    right: 20px;
  }
}
@media (min-width: 800px) {
  /* line 47, ../sass/header.scss */
  header .button-mail {
    right: 30px;
  }
}
/* line 65, ../sass/header.scss */
header a {
  text-decoration: none;
}

/* line 1, ../sass/footer.scss */
footer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  padding: 35px 0 30px;
  background-color: #fff34f;
  -moz-box-shadow: 0px -20px 25px black;
  -webkit-box-shadow: 0px -20px 25px black;
  box-shadow: 0px -20px 25px black;
  -moz-transition: bottom 0.3s ease-in-out;
  -o-transition: bottom 0.3s ease-in-out;
  -webkit-transition: bottom 0.3s ease-in-out;
  transition: bottom 0.3s ease-in-out;
}
@media (max-width: 480px) {
  /* line 1, ../sass/footer.scss */
  footer {
    padding: 10px 0 10px;
    max-height: 200px;
    overflow: scroll;
  }
}
@media (min-width: 870px) {
  /* line 17, ../sass/footer.scss */
  footer .footer-icon {
    width: 61px;
    height: 61px;
    background-image: url("../images/icon_info_black.png");
    background-size: 100%;
    position: absolute;
    top: 35px;
    left: 20px;
  }
}
/* line 29, ../sass/footer.scss */
footer .footer-content {
  max-width: 700px;
  margin: auto;
}
/* line 34, ../sass/footer.scss */
footer .flex-wrapper {
  width: 100%;
  max-width: 700px;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
@media (min-width: 615px) {
  /* line 34, ../sass/footer.scss */
  footer .flex-wrapper {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
/* line 47, ../sass/footer.scss */
footer .text-block {
  padding: 0 16px;
  text-align: justify;
}
/* line 52, ../sass/footer.scss */
footer p {
  margin-bottom: 12px;
  font-family: Fira Mono, Mono;
  font-size: 12px;
  color: #000000;
  line-height: 15px;
}
/* line 57, ../sass/footer.scss */
footer.hidden {
  bottom: -330px;
}

/* line 1, ../sass/content.scss */
section {
  margin-top: 20px;
  margin-bottom: 40px;
  padding-left: 10px;
  padding-right: 10px;
}
@media (max-width: 537px) {
  /* line 4, ../sass/content.scss */
  section:first-of-type {
    margin-top: 170px;
  }
  /* line 8, ../sass/content.scss */
  section:first-of-type h1.first-headline,
  section:first-of-type h2 {
    max-width: 80%;
    margin-left: 10%;
  }
}
@media (min-width: 615px) {
  /* line 1, ../sass/content.scss */
  section {
    padding-left: 20px;
    padding-right: 20px;
  }
}
@media (min-width: 800px) {
  /* line 1, ../sass/content.scss */
  section {
    padding-left: 30px;
    padding-right: 30px;
  }
}
/* line 30, ../sass/content.scss */
section h1 {
  font-family: Fira Mono, Mono;
  font-size: 30px;
  color: #fff34f;
  line-height: 30px;
  text-align: center;
  padding-bottom: 30px;
  text-transform: uppercase;
}
@media (max-width: 537px) {
  /* line 30, ../sass/content.scss */
  section h1 {
    font-family: Fira Mono, Mono;
    font-size: 28px;
    color: #fff34f;
    line-height: 28px;
  }
}
/* line 40, ../sass/content.scss */
section h1.first-headline {
  font-family: Fira Mono, Mono;
  font-size: 30px;
  color: #ffffff;
  line-height: 30px;
  text-align: left;
  max-width: 60%;
  margin-left: 25%;
}
@media (max-width: 537px) {
  /* line 40, ../sass/content.scss */
  section h1.first-headline {
    font-family: Fira Mono, Mono;
    font-size: 28px;
    color: #ffffff;
    line-height: 28px;
  }
}
@media (min-width: 800px) {
  /* line 40, ../sass/content.scss */
  section h1.first-headline {
    max-width: 50%;
  }
}
/* line 55, ../sass/content.scss */
section h2 {
  font-family: Fira Sans, Sans;
  font-size: 18px;
  color: #fff34f;
  line-height: 21px;
  margin-bottom: 30px;
  max-width: 65%;
  margin-left: 25%;
}
@media (max-width: 537px) {
  /* line 55, ../sass/content.scss */
  section h2 {
    font-family: Fira Sans, Sans;
    font-size: 16px;
    color: #fff34f;
    line-height: 19px;
  }
}
/* line 66, ../sass/content.scss */
section .flex-wrapper {
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-align-items: flex-start;
  align-items: flex-start;
}
@media (min-width: 615px) {
  /* line 66, ../sass/content.scss */
  section .flex-wrapper {
    -webkit-flex-direction: row;
    flex-direction: row;
  }
}
@media (min-width: 615px) {
  /* line 78, ../sass/content.scss */
  section .text-wrapper {
    max-width: 45%;
  }
}
@media (min-width: 800px) {
  /* line 78, ../sass/content.scss */
  section .text-wrapper {
    max-width: 33%;
  }
}
/* line 87, ../sass/content.scss */
section p {
  font-family: Fira Sans, Sans;
  font-size: 14px;
  color: #ffffff;
  line-height: 17px;
  margin-bottom: 8px;
}
@media (max-width: 537px) {
  /* line 87, ../sass/content.scss */
  section p {
    font-family: Fira Sans, Sans;
    font-size: 14px;
    color: #ffffff;
    line-height: 17px;
  }
}
/* line 95, ../sass/content.scss */
section p a {
  text-decoration: none;
  color: #fff34f;
}
@media (min-width: 615px) {
  /* line 101, ../sass/content.scss */
  section .image-wrapper {
    padding-left: 30px;
  }
}
/* line 107, ../sass/content.scss */
section .image-wrapper.wheel img:nth-child(1) {
  width: 30%;
  margin-bottom: -27%;
  min-width: 1px;
}
/* line 113, ../sass/content.scss */
section .image-wrapper.wheel img:nth-child(2) {
  width: 85%;
  float: right;
  margin-top: 5%;
  right: 0px;
}
/* line 122, ../sass/content.scss */
section img {
  width: 100%;
}
@media (min-width: 615px) {
  /* line 122, ../sass/content.scss */
  section img {
    min-width: 280px;
  }
}
@media (min-width: 800px) {
  /* line 122, ../sass/content.scss */
  section img {
    min-width: 400px;
  }
}
/* line 132, ../sass/content.scss */
section img.screenshot {
  margin-top: -10px;
}
/* line 136, ../sass/content.scss */
section img.border {
  border: #fff34f solid 2px;
  box-sizing: border-box;
}
